body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7dd1fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 main{
   height: 100vh;
   padding: 50px;
   margin: 0 auto;
   width: 80%;
   background-color: rgba(255, 255, 255, 0.733);
   display: flex;
   /* justify-content: center; */
   align-items: center;
   flex-direction: column;
   border-radius: 15px;
 }
 .d-main{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  padding: 30px;
  margin: 0 auto;
  width: 90%;
  min-width: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.733);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
 }
.d-add-button{
  /* float: right; */
  font-size: 30px;
  background-color: #03fa03;
  font-family: "Roboto";
  box-shadow: none;
  /* padding: 5px 13px; */
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 15px;
  color: white;
  border: 2px solid white;
  font-weight: bolder;
  cursor: pointer;

}
.d-back-button{
  font-size: 30px;
  background-color: #0383fa;
  font-family: "Roboto";
  box-shadow: none;
  height: 50px;
  width: 50px;  border: none;
  border-radius: 15px;
  color: white;
  border: 2px solid white;
  font-weight: bolder;
  cursor: pointer;
}

.d-add-main{
  width: 100%;
  /* min-width: 400px; */
  /* background-color: rgb(255, 255, 255); */
  padding: 20px;
  border-radius: 15px;
}
.d-add-form{
  width: 70%;
  margin: 0 auto;
}
.d-add-form input{
  margin: 10px;
  width: 90%;
}

table{
  margin-top: 30px;
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
  /* border: 1px solid black; */
  border-radius: 15px;
  -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px
}
tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
th{
  text-align: left;
  background-color: #0383fa;
  color: white;
  padding: 10px;
}
table, td {
  border-bottom: 3px solid rgb(17, 186, 216);
}
.d-form-submit{
  margin-top: 20px;
  border: none;
  background-color: rgb(12, 196, 12);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
  
}
.d-button-delete{
  background-color: rgb(241, 59, 59);
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}